.container {
	width: 100%;
	
	.creations {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 1rem;
		min-width: 100%;

		.card-container {
			margin-bottom: 16px;
			background: rgb(255, 255, 255);
			box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px;

			display: flex;
			flex-direction: column;
			max-width: 901px;
			width: 60%;
			min-width: 420px;
		}

		.grid-view {
			display: flex;
			flex-wrap: wrap;
			width: 90%;
			gap: 5px;
			
			.grid-card-container {
				height: auto;
				position: relative;
				width: 24%;
				min-width: 300px;
			}
		}
	}

	.grid-container {
		width: 94%;
		max-width: 1400px;
	}

	.list-container {
		width: 94%;
		max-width: 901px;
	}
}