<div class="container">
	<app-page-title 
		title="Pricing" 
		description="Subscribe, Buy or Earn credits to keep creating, or come back after 05:00 am for your daily 5 credit topup.">
	</app-page-title>

	<div class="pricing">

		<div class="pricing-header">
			<button class="pricing-head-btn pro">NIGHTCAFE PRO</button>
			<button class="pricing-head-btn pack">Credit PACKS</button>
			<button class="pricing-head-btn pack">EARN CREDITS</button>
		</div>

		<app-page-title 
			title="Get NightCafe PRO*" 
			description="Go PRO for a monthly credit pack and a range of other perks">
		</app-page-title>

		<div class="card-container">
			<div class="card">
				<div class="recommend">RECOMMENDED FOR YOU</div>

				<div class="package">
					<h4>AI HOBBYIST</h4>
					<span class="credits">💰 100 Credits</span>
					<small>/month</small>
					<span class="amnt">$9.99 USD 
						<small>/month*</small>
					</span>
				</div>

				<div class="pro">Go Pro</div>

				<div class="credit">
					$0.10 /credit
				</div>

				<div class="details">
					<span>PRO badge on your profile</span>
					<span>Tip other creators</span>
					<span>2.5x more progress images</span>
					<span>Earn topups and badges as normal</span>
					<span>Cancel any time</span>
					<span class="soon">More perks coming soon</span>
				</div>
			</div>

			<div class="card">
				<div class="recommend">RECOMMENDED FOR YOU</div>

				<div class="package">
					<h4>AI ENTHUSIAST</h4>
					<span class="credits">💰 250 Credits</span>
					<small>/month</small>
					<span class="amnt">$19.99 USD 
						<small>/month*</small>
					</span>
				</div>

				<div class="pro">Go Pro</div>

				<div class="credit">
					$0.08 /credit
				</div>

				<div class="details">
					<span>PRO badge on your profile</span>
					<span>Tip other creators</span>
					<span>2.5x more progress images</span>
					<span>Earn topups and badges as normal</span>
					<span>Cancel any time</span>
					<span class="soon">More perks coming soon</span>
				</div>
			</div>

			<div class="card">
				<div class="recommend">RECOMMENDED FOR YOU</div>

				<div class="package">
					<h4>AI ARTIST</h4>
					<span class="credits">💰 700 Credits</span>
					<small>/month</small>
					<span class="amnt">$49.99 USD 
						<small>/month*</small>
					</span>
				</div>

				<div class="pro">Go Pro</div>

				<div class="credit">
					$0.071 /credit
				</div>

				<div class="details">
					<span>PRO badge on your profile</span>
					<span>Tip other creators</span>
					<span>2.5x more progress images</span>
					<span>Earn topups and badges as normal</span>
					<span>Cancel any time</span>
					<span class="soon">More perks coming soon</span>
				</div>
			</div>

			<div class="card">
				<div class="recommend">AI PROFESSIONAL</div>

				<div class="package">
					<h4>1500 Credits</h4>
					<span class="credits">💰 100 Credits</span>
					<small>/month</small>
					<span class="amnt">$79.99 USD 
						<small>/month*</small>
					</span>
				</div>

				<div class="pro">Go Pro</div>

				<div class="credit">
					$0.053 /credit
				</div>

				<div class="details">
					<span>PRO badge on your profile</span>
					<span>Tip other creators</span>
					<span>2.5x more progress images</span>
					<span>Earn topups and badges as normal</span>
					<span>Cancel any time</span>
					<span class="soon">More perks coming soon</span>
				</div>
			</div>

		</div>
		<div class="agreement">*By subscribing to NightCafe PRO you agree to be bound by the NightCafe Terms of Service.</div>

		<div class="packs-container">

			<div class="pricing-header">
				<button class="pricing-head-btn">NIGHTCAFE PRO</button>
				<button class="pricing-head-btn">Credit PACKS</button>
				<button class="pricing-head-btn">EARN CREDITS</button>
			</div>

			<div  class="heading">
				<h1>Credit Packs</h1>
				<span>Prepay for a pack of credits. No subscription necessary.</span>
			</div>
			<div class="bar-container">
				<div class="bar">
					<div >
						<span class="left-cred">💰&nbsp;<h3> 40 Credits</h3></span>
						<div>
							<span class="price-dollors">$7.99 USD</span>
							<span>($0.20/credit)</span>
						</div>
					</div>

					<button class="cred-btn">
						Buy
					</button>
				</div>
				<div class="bar">
					<div >
						<span class="left-cred">💰&nbsp;<h3> 40 Credits</h3></span>
						<div>
							<span class="price-dollors">$7.99 USD</span>
							<span>($0.20/credit)</span>
						</div>
					</div>

					<button class="cred-btn">
						Buy
					</button>
				</div>

				<div class="bar">
					<div >
						<span class="left-cred">💰&nbsp;<h3> 40 Credits</h3></span>
						<div>
							<span class="price-dollors">$7.99 USD</span>
							<span>($0.20/credit)</span>
						</div>
					</div>

					<button class="cred-btn">
						Buy
					</button>
				</div>

				<div class="bar">
					<div >
						<span class="left-cred">💰&nbsp;<h3> 40 Credits</h3></span>
						<div>
							<span class="price-dollors">$7.99 USD</span>
							<span>($0.20/credit)</span>
						</div>
					</div>

					<button class="cred-btn">
						Buy
					</button>
				</div>

				<div class="bar">
					<div >
						<span class="left-cred">💰&nbsp;<h3> 40 Credits</h3></span>
						<div>
							<span class="price-dollors">$7.99 USD</span>
							<span>($0.20/credit)</span>
						</div>
					</div>

					<button class="cred-btn">
						Buy
					</button>
				</div>

				<div class="bar">
					<div >
						<span class="left-cred">💰&nbsp;<h3> 40 Credits</h3></span>
						<div>
							<span class="price-dollors">$7.99 USD</span>
							<span>($0.20/credit)</span>
						</div>
					</div>

					<button class="cred-btn">
						Buy
					</button>
				</div>

				<div class="bar">
					<div >
						<span class="left-cred">💰&nbsp;<h3> 40 Credits</h3></span>
						<div>
							<span class="price-dollors">$7.99 USD</span>
							<span>($0.20/credit)</span>
						</div>
					</div>

					<button class="cred-btn">
						Buy
					</button>
				</div>

				<div class="bar">
					<div >
						<span class="left-cred">💰&nbsp;<h3> 40 Credits</h3></span>
						<div>
							<span class="price-dollors">$7.99 USD</span>
							<span>($0.20/credit)</span>
						</div>
					</div>

					<button class="cred-btn">
						Buy
					</button>
				</div>
			</div>

		</div>

		<ng-template #loader>
			<mat-spinner diameter="30"></mat-spinner>
		</ng-template>
	</div>
</div>
