<header class="toolbar">
	<span routerLink="/" class="pointer">NightCafeClone</span>

	<nav class="nav">
		<ul>
			<li routerLink="my-creations" routerLinkActive="active" *ngIf="isLoggedIn">My creations</li>
			<li routerLink="feed" routerLinkActive="active" *ngIf="isLoggedIn">My Feed</li>
			<li routerLink="explore" routerLinkActive="active">Explore</li>
			<li routerLink="create" routerLinkActive="active">
				<a class="btn-create">Create</a>
			</li>
			<li>
				<div class="d-flex align-center" (click)="toggleProfileMenu = !toggleProfileMenu">
					<img src="/assets/images/avatar.jpg" alt="Avatar" class="avatar">
					<div *ngIf="profile" class="ml-3">{{ profile.info?.name}}</div>
				</div>
			</li>
		</ul>
	</nav>

	<div class="profile-menu" *ngIf="toggleProfileMenu">
		<ul>
			<li (click)="onLogin()">{{ isLoggedIn ? 'Log out' : 'Login' }}</li>
		</ul>
	</div>
</header>