<div class="container">
	<app-page-title 
		title="Your Feed" 
		description="The latest artworks from the creators you follow">
	</app-page-title>

	<div class="creations" [ngClass]="layout === 'Grid' ? 'grid-container' : 'list-container'">
		<app-actions-header (signal)="onHeaderAction($event)"></app-actions-header>

		<ng-container *ngIf="!loading; else loader">
			<ng-container *ngIf="layout === 'List'; else gridView;">
				<ng-container >
					<div class="card" >
						<div class="detail-header">
							<div class="user">
									<img src="./assets/images/moai.webp" alt="Creation" class="user-img">
									<div class="user-details">
										<div class="name">
											<span class="name-desc">Ahsan</span>
											<span class="name-tag">@ahsan</span>
										</div>
										<div class="time">7 Hour Ago - Following</div>
									</div>

									<div class="pro">pro</div>
							</div>
						</div>
		
						<img src="./assets/images/village.webp" alt="Creation" class="image">

						<div class="description">
							<div class="like">
								<div class="favourite">
									<mat-icon>favorite_border</mat-icon>
									<span>30</span>
								</div>

								<div class="share">
									<mat-icon>share</mat-icon>
									<span>Share</span>
								</div>
								
							</div>
							<h3 class="desc-title">Sauron</h3>
							<div class="acts-bar">

								<div class="acts">
									<mat-icon>refresh</mat-icon>
									<span>4</span>
								</div>

								<div class="acts">
									<mat-icon>image</mat-icon>
									<span>Thumb</span>
								</div>
								
								<div class="acts">
									<mat-icon>fullscreen_exit</mat-icon>
									<span>4</span>
								</div>		
							</div>

							<div class="write-comment">
								<img src="./assets/images/avatar.jpg" alt="" class="user-img">
									<textarea class="search-input" matInput type="text" autocomplete="off" placeholder="Search"></textarea>
									
							</div>

							<div class="submit-sec">
								<div class="submit">Submit</div>
								<div class="community">comunity guidlines</div>
							</div>
						</div>
					</div>

					<div class="card" >
						<div class="detail-header">
							<div class="user">
									<img src="./assets/images/moai.webp" alt="Creation" class="user-img">
									<div class="user-details">
										<div class="name">
											<span class="name-desc">Ahsan</span>
											<span class="name-tag">@ahsan</span>
										</div>
										<div class="time">7 Hour Ago - Following</div>
									</div>

									<div class="pro">pro</div>
							</div>
						</div>
		
						<img src="./assets/images/village.webp" alt="Creation" class="image">

						<div class="description">
							<div class="like">
								<div class="favourite">
									<mat-icon>favorite_border</mat-icon>
									<span>30</span>
								</div>

								<div class="share">
									<mat-icon>share</mat-icon>
									<span>Share</span>
								</div>
								
							</div>
							<h3 class="desc-title">Sauron</h3>
							<div class="acts-bar">

								<div class="acts">
									<mat-icon>refresh</mat-icon>
									<span>4</span>
								</div>

								<div class="acts">
									<mat-icon>image</mat-icon>
									<span>Thumb</span>
								</div>
								
								<div class="acts">
									<mat-icon>fullscreen_exit</mat-icon>
									<span>4</span>
								</div>		
							</div>

							<div class="write-comment">
								<img src="./assets/images/avatar.jpg" alt="" class="user-img">
									<textarea class="search-input" matInput type="text" autocomplete="off" placeholder="Search"></textarea>
									
							</div>

							<div class="submit-sec">
								<div class="submit">Submit</div>
								<div class="community">comunity guidlines</div>
							</div>
						</div>
					</div>

					<div class="card" >
						<div class="detail-header">
							<div class="user">
									<img src="./assets/images/moai.webp" alt="Creation" class="user-img">
									<div class="user-details">
										<div class="name">
											<span class="name-desc">Ahsan</span>
											<span class="name-tag">@ahsan</span>
										</div>
										<div class="time">7 Hour Ago - Following</div>
									</div>

									<div class="pro">pro</div>
							</div>
						</div>
		
						<img src="./assets/images/village.webp" alt="Creation" class="image">

						<div class="description">
							<div class="like">
								<div class="favourite">
									<mat-icon>favorite_border</mat-icon>
									<span>30</span>
								</div>

								<div class="share">
									<mat-icon>share</mat-icon>
									<span>Share</span>
								</div>
								
							</div>
							<h3 class="desc-title">Sauron</h3>
							<div class="acts-bar">

								<div class="acts">
									<mat-icon>refresh</mat-icon>
									<span>4</span>
								</div>

								<div class="acts">
									<mat-icon>image</mat-icon>
									<span>Thumb</span>
								</div>
								
								<div class="acts">
									<mat-icon>fullscreen_exit</mat-icon>
									<span>4</span>
								</div>		
							</div>

							<div class="write-comment">
								<img src="./assets/images/avatar.jpg" alt="" class="user-img">
									<textarea class="search-input" matInput type="text" autocomplete="off" placeholder="Search"></textarea>
									
							</div>

							<div class="submit-sec">
								<div class="submit">Submit</div>
								<div class="community">comunity guidlines</div>
							</div>
						</div>
					</div>

					<div class="card" >
						<div class="detail-header">
							<div class="user">
									<img src="./assets/images/moai.webp" alt="Creation" class="user-img">
									<div class="user-details">
										<div class="name">
											<span class="name-desc">Ahsan</span>
											<span class="name-tag">@ahsan</span>
										</div>
										<div class="time">7 Hour Ago - Following</div>
									</div>

									<div class="pro">pro</div>
							</div>
						</div>
		
						<img src="./assets/images/village.webp" alt="Creation" class="image">

						<div class="description">
							<div class="like">
								<div class="favourite">
									<mat-icon>favorite_border</mat-icon>
									<span>30</span>
								</div>

								<div class="share">
									<mat-icon>share</mat-icon>
									<span>Share</span>
								</div>
								
							</div>
							<h3 class="desc-title">Sauron</h3>
							<div class="acts-bar">

								<div class="acts">
									<mat-icon>refresh</mat-icon>
									<span>4</span>
								</div>

								<div class="acts">
									<mat-icon>image</mat-icon>
									<span>Thumb</span>
								</div>
								
								<div class="acts">
									<mat-icon>fullscreen_exit</mat-icon>
									<span>4</span>
								</div>		
							</div>

							<div class="write-comment">
								<img src="./assets/images/avatar.jpg" alt="" class="user-img">
									<textarea class="search-input" matInput type="text" autocomplete="off" placeholder="Search"></textarea>
									
							</div>

							<div class="submit-sec">
								<div class="submit">Submit</div>
								<div class="community">comunity guidlines</div>
							</div>
						</div>
					</div>

				
				</ng-container>
			</ng-container>
			
			<ng-template #gridView>
				<div class="grid-view">
					<div class="grid-card" >
						<img src="./assets/images/village.webp" alt="Creation" class="image">
						<div class="grid-actions">
							<img src="./assets/images/avatar.jpg" alt="" class="user-img">
							<div class="fav">
								<mat-icon>favorite_border</mat-icon>
								29
							</div>

							<div class="fav">
								<mat-icon> message</mat-icon>
								30
							</div>
						</div>
					</div>

					<div class="grid-card" >
						<img src="./assets/images/village.webp" alt="Creation" class="image">
						<div class="grid-actions">
							<img src="./assets/images/avatar.jpg" alt="" class="user-img">
							<div class="fav">
								<mat-icon>favorite_border</mat-icon>
								29
							</div>

							<div class="fav">
								<mat-icon> message</mat-icon>
								30
							</div>
						</div>
					</div>

					<div class="grid-card" >
						<img src="./assets/images/village.webp" alt="Creation" class="image">
						<div class="grid-actions">
							<img src="./assets/images/avatar.jpg" alt="" class="user-img">
							<div class="fav">
								<mat-icon>favorite_border</mat-icon>
								29
							</div>

							<div class="fav">
								<mat-icon> message</mat-icon>
								30
							</div>
						</div>
					</div>

					<div class="grid-card" >
						<img src="./assets/images/village.webp" alt="Creation" class="image">
						<div class="grid-actions">
							<img src="./assets/images/avatar.jpg" alt="" class="user-img">
							<div class="fav">
								<mat-icon>favorite_border</mat-icon>
								29
							</div>

							<div class="fav">
								<mat-icon> message</mat-icon>
								30
							</div>
						</div>
					</div>

					<div class="grid-card" >
						<img src="./assets/images/village.webp" alt="Creation" class="image">
						<div class="grid-actions">
							<img src="./assets/images/avatar.jpg" alt="" class="user-img">
							<div class="fav">
								<mat-icon>favorite_border</mat-icon>
								29
							</div>

							<div class="fav">
								<mat-icon> message</mat-icon>
								30
							</div>
						</div>
					</div>
					
				</div>
			</ng-template>
		</ng-container>

		<ng-template #loader>
			<mat-spinner diameter="30"></mat-spinner>
		</ng-template>
	</div>
</div>
