<div class="container">
	<app-page-title 
		title="Your Feed" 
		description="The latest artworks from the creators you follow">
	</app-page-title>

	<div class="creations" [ngClass]="layout === 'Grid' ? 'grid-container' : 'list-container'">
		<app-actions-header (signal)="onHeaderAction($event)"></app-actions-header>

		<ng-container *ngIf="!loading; else loader">
			<ng-container *ngIf="layout === 'List'; else gridView;">
				<div class="card" *ngFor="let creation of creations;">
					<div class="detail-header">
						<div class="user">
							<img src="./assets/images/moai.webp" alt="User" class="user-img">
							<div class="user-details">
								<div class="name">
									<span class="name-desc">{{ creation.user.name }}</span>
								</div>
								<div class="info">
									<div>{{ creation.createdAt | date:'medium' }} - Following</div>
									<div></div>
								</div>
							</div>
						</div>
					</div>
	
					<img [src]="creation.outputImage" alt="Creation" class="image">

					<div class="description">
						<div class="like">
							<div class="favourite">
								<mat-icon>favorite_border</mat-icon>
								<span>{{ creation.likes }}</span>
							</div>
						</div>

						<h3 class="desc-title">{{ creation.description }}</h3>

						<div class="d-flex flex-col">
							<div class="comments" *ngFor="let comment of creation.creation_comments">
								<div class="comments-name">{{ comment.user.name }}</div>
								<div class="comments-desc">{{ comment.comment }}</div>
							</div>
						</div>

						<!-- <div class="read-all">Read all Captions</div> -->

						<div class="write-comment">
							<img src="./assets/images/avatar.jpg" alt="" class="user-img">
							<textarea class="search-input" matInput type="text" autocomplete="off" placeholder="Leave a comment" [formControl]="commentFC"></textarea>
						</div>

						<div class="submit-sec">
							<button class="btn-submit" (click)="onSubmitComment(creation)"
								[disabled]="commentFC.invalid || disableSubmitBtn">
								<span *ngIf="!disableSubmitBtn">Submit</span>

								<mat-progress-spinner
									*ngIf="disableSubmitBtn"
									[diameter]="24"
									[mode]="'indeterminate'">
								</mat-progress-spinner>
							</button>
						</div>
					</div>
				</div>
			</ng-container>
			
			<ng-template #gridView>
				<div class="grid-view">
					<div class="grid-card" *ngFor="let creation of creations;">
						<img [src]="creation.outputImage" alt="Creation" class="image">
						<div class="grid-actions">
							<img src="./assets/images/avatar.jpg" alt="" class="user-img">
							<div class="fav">
								<mat-icon>favorite_border</mat-icon>
								<span>{{ creation.likes }}</span>
							</div>

							<div class="fav">
								<mat-icon> message</mat-icon>
								30
							</div>
						</div>
					</div>
				</div>
			</ng-template>
		</ng-container>

		<div class="no-record" *ngIf="creations.length === 0">
			<p class="text">There's nothing here yet. Create something now!</p>
			<button class="btn-create" (click)="navigetToCreate()">Create</button>
		</div>

		<ng-template #loader>
			<mat-spinner diameter="30"></mat-spinner>
		</ng-template>
	</div>
</div>
