.container {
	display: flex;
    flex-direction: column;
    align-items: center;

	.creations {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 1rem;

		.icon {
			margin-right: 1rem;
			cursor: pointer;
		}

		.card {
			margin-bottom: 2rem;
			background: rgb(255, 255, 255);
			box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px;

			display: flex;
			width: 100%;

			.detail {
				display: flex;
				flex-direction: column;
				justify-content: center;

				padding: 3.2rem;
				flex: 1 0 30rem;
				position: relative;
				
				.label {
					position: absolute;
					top: 0;
					left: 0;

					padding: 4px 6px;
					color: rgb(255, 255, 255);
					text-transform: uppercase;
					font-weight: 600;
					font-size: 11px;
					background: rgb(10, 128, 19);
				}

				.created-at {
					font-size: 1.2rem;
					color: #6c7176;
					margin-bottom: 1.8rem;
				}

				.model-actions {
					margin-bottom: 2rem;

					.publish {
						color: var(--color-secondary);
						font-weight: 600;
						font-size: 1.4rem;
						cursor: pointer;

						background: none;
						border: none;

						display: flex;
						align-items: center;

						mat-icon {
							transform: rotate(90deg);
						}

						&:hover {
							color: rgb(108, 113, 118);
						}
					}
				}
			}

			.image {
				height: 400px;
				max-width: 400px;
				object-fit: cover;
			}
		}

		.grid-view {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			
			.grid-card {
				width: 25rem;
				height: auto;
				margin-right: 2rem;
				background-color: red;
	
				.image {
					width: 100%;
				}
			}
		}
	}

	.grid-container {
		width: 94%;
		max-width: 1400px;
	}

	.list-container {
		width: 94%;
		max-width: 901px;
	}

	.btn {
		background-color: var(--color-primary);
		color: #fff;
		padding: .5rem 1.5rem;
		margin: 2rem 0;
		cursor: pointer;
	}
}

@media screen and (max-width: 760px) {
	.card{
		display: flex;
		flex-direction: column-reverse;
	}

	.image {
		min-width: 100%;
	}
}

@media screen and (max-width: 880px) and (max-width: 1000px){
	.grid-card {
		min-width: 34rem;
	}
}

@media screen and (max-width: 790px) and (max-width: 880px){
	.grid-card {
		min-width: 30rem;
	}
}

@media screen and (max-width: 700px) and (max-width: 790px){
	.grid-card {
		min-width: 27rem;
	}
}

@media screen and (max-width: 600px) and (max-width: 700px){
	.grid-card {
		min-width: 100%;
	}
}

@media screen and (max-width: 500px) and (max-width: 600px){
	.grid-card {
		min-width: 100%;
	}
}
