<div class="container">
	<app-page-title title="My Creations"></app-page-title>
	
	<div class="creations" [ngClass]="layout === 'Grid' ? 'grid-container' : 'list-container'">
		<app-actions-header (signal)="onHeaderAction($event)"></app-actions-header>

		<ng-container *ngIf="!loading; else loader">
			<ng-container *ngIf="layout === 'List'; else gridView;">
				<ng-container *ngFor="let creation of creations">
					<div class="card" *ngIf="creation.outputImage">
						<div class="detail">
							<div class="label" *ngIf="creation.isPublished">Published</div>

							<div class="model-actions">
								<button *ngIf="!creation.isPublished" class="action publish" (click)="onPublishCreation(creation)">
									<mat-icon style="margin-right: .5rem">navigation</mat-icon>
									Publish
								</button>
							</div>
		
							<div class="model-info">
								<h3> <a>{{ creation.prompt }}</a></h3>
								<div class="created-at">Created At: {{ creation.createdAt | date:'shortDate' }}</div>
							</div>
						</div>
		
						<img [src]="creation.outputImage" alt="Creation" class="image">
					</div>
				</ng-container>
			</ng-container>
			
			<ng-template #gridView>
				<div class="grid-view">
					<div class="grid-card" *ngFor="let creation of creations">
						<img [src]="creation.outputImage" alt="Creation" class="image">
					</div>
				</div>
			</ng-template>

			<div class="no-record" *ngIf="creations.length === 0">
				<p class="text">There's nothing here yet. Create something now!</p>
				<button class="btn-create" (click)="navigetToCreate()">Create</button>
			</div>
		</ng-container>

		<ng-template #loader>
			<mat-spinner diameter="30"></mat-spinner>
		</ng-template>
	</div>
</div>
